.input-height-s {
    height: 30px;
}

.input-height-m {
    height: 35px;
}

.input-font-size-s {
    font-size: 14px;
}

.input-font-size-m {
    font-size: 16px;
}

.input-check-focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
}